---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog'))
	.sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
	);
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE + " | Blog"} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<div class="bg-white mb-6 mt-12 lg:my-10">

			<div class="mx-auto max-w-7xl px-6 lg:px-8 mb-16">
				<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Tous les <span class="text-yellow-400">articles</span></h2>
				<p class="mt-2 text-lg leading-8 text-gray-600">Retrouvez le contenu exclusif en complément des tutoriels vidéo.</p>
			</div>

			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto">
					<div class="space-y-20">
						{
							posts.map((post) => (
								<article class="relative isolate flex flex-col gap-8 lg:flex-row">
									<div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
										<img src={post.data.heroImage} alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
										<div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
									</div>
									<div>
										<div class="flex items-center gap-x-4 text-xs">
											<time datetime="2020-03-16" class="text-gray-500">
												<FormattedDate date={post.data.pubDate} />
											</time>
											{post.data.category && <span class="inline-flex items-center gap-x-1.5 rounded-md px-2 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200"><svg class="h-1.5 w-1.5 fill-yellow-500" viewBox="0 0 6 6" aria-hidden="true"><circle cx="3" cy="3" r="3" /></svg>{post.data.category}</span>}
										</div>
										<div class="group relative max-w-xl">
											<h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
												<a href={`/blog/${post.slug}`}>
													{post.data.title}
												</a>
											</h3>
											<p class="mt-5 text-sm leading-6 text-gray-600">{post.data.description}</p>
										</div>
										<div class="mt-6 flex border-t border-gray-900/5 pt-6">
											<div class="relative flex items-center gap-x-4">
												<img src="/blog-avatar.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-50">
												<div class="text-sm leading-6">
													<p class="font-semibold text-gray-900">
														<a href="https://twitter.com/LaravelJutsu">
															<span class="absolute inset-0"></span>
															Ludovic Guénet
														</a>
													</p>
													<p class="text-gray-600">Créateur de Laravel Jutsu.</p>
												</div>
											</div>
										</div>
									</div>
								</article>
							))
						}
					</div>
				</div>
			</div>
		</div>

		<Footer />
	</body>
</html>
