---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import IndexFormattedDate from "../components/IndexFormattedDate.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";

const posts = await getCollection("blog");

const latestPosts = posts
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 9);
---

<!doctype html>
<html lang="fr">
    <head>
        <BaseHead
            title={SITE_TITLE + " | Accueil"}
            description={SITE_DESCRIPTION}
        />

        <script>
            import "../scripts/back-to-top.ts";
        </script>
    </head>

    <body>
        <Header />

        <section>
            <div
                class="max-w-6xl mx-auto px-4 py-16 gap-12 text-gray-600 md:px-8"
            >
                <div class="space-y-5 max-w-4xl mx-auto text-center">
                    <h1
                        class="flex items-center justify-center text-sm text-lime-500 font-medium"
                    >
                        Laisse le vent guider tes apps ! 🍃
                    </h1>
                    <h2
                        class="text-4xl text-gray-800 font-extrabold mx-auto md:text-5xl"
                    >
                        Ton dojo pour maîtriser <span
                            class="text-transparent bg-clip-text bg-gradient-to-r from-[#10B981] to-[#007A33]"
                            >Laravel et Vue par la pratique</span
                        >
                    </h2>
                    <p class="max-w-2xl mx-auto">
                        Des compétences professionnelles, claires et
                        accessibles, pour façonner la·e développeur·euse en
                        vous.
                    </p>
                    <div
                        class="items-center justify-center gap-x-3 space-y-3 sm:flex sm:space-y-0"
                    >
                        <a
                            href="https://www.youtube.com/@LaravelJutsu"
                            class="block py-2 px-4 text-white font-medium bg-lime-500 duration-150 hover:bg-lime-400 active:bg-lime-700 rounded-lg shadow-lg hover:shadow-none"
                            target="_blank"
                        >
                            Parcourir les tutoriels
                        </a>
                        <a
                            href="https://discord.gg/invite/cuFxTjH"
                            class="block py-2 px-4 text-gray-700 hover:text-gray-500 font-medium duration-150 active:bg-gray-100 border rounded-lg"
                            target="_blank"
                        >
                            Rejoindre la communauté
                        </a>
                    </div>
                </div>

                <div
                    class="mx-auto flex justify-center mt-14 max-w-2xl overflow-x-hidden"
                >
                    <div class="flex items-center -space-x-2">
                        <img
                            src="https://randomuser.me/api/portraits/women/79.jpg"
                            class="w-10 h-10 rounded-full border-2 border-white"
                        />
                        <img
                            src="https://api.uifaces.co/our-content/donated/xZ4wg2Xj.jpg"
                            class="w-10 h-10 rounded-full border-2 border-white"
                        />
                        <img
                            src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=a72ca28288878f8404a795f39642a46f"
                            class="w-10 h-10 rounded-full border-2 border-white"
                        />
                        <img
                            src="https://randomuser.me/api/portraits/men/86.jpg"
                            class="w-10 h-10 rounded-full border-2 border-white"
                        />
                        <img
                            src="https://images.unsplash.com/photo-1510227272981-87123e259b17?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=3759e09a5b9fbe53088b23c615b6312e"
                            class="w-10 h-10 rounded-full border-2 border-white"
                        />
                        <p
                            class="text-sm text-gray-500 font-medium translate-x-5"
                        >
                            Rejoins 25.000+ développeur·euses
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="bg-white py-14 sm:pb-32">
            <div class="max-w-6xl mx-auto py-4 px-4 md:px-8">
                <div class="max-w-xl space-y-3">
                    <h3 class="text-lime-600 font-semibold">
                        Découvertes Tech
                    </h3>
                    <p class="text-gray-800 text-3xl font-semibold sm:text-4xl">
                        Tous les articles
                    </p>
                    <p>
                        Parcours nos articles sur Laravel, Vue et plus, remplis
                        de conseils et d'idées pour booster tes projets.
                    </p>
                </div>
                <div
                    class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 pt-6 sm:mt-8 sm:pt-8 lg:mx-0 lg:max-w-none lg:grid-cols-3"
                >
                    {
                        latestPosts.map((post) => (
                            <article class="flex max-w-xl flex-col items-start justify-between">
                                <a
                                    href={`/blog/${post.slug}`}
                                    class="group flex flex-col overflow-hidden transition-all rounded-lg shadow-lg focus:outline-none"
                                >
                                    <div class="relative flex-shrink-0 overflow-hidden">
                                        <Image
                                            src={post.data.heroImage}
                                            loading="eager"
                                            alt={post.data.title}
                                            class="w-full cursor-pointer  bg-gray-100 object-cover aspect-[5/2] group-hover:scale-110 group-focus:scale-110 group-hover:-rotate-2 group-focus:-rotate-2 transition duration-200 ease-in-out"
                                        />
                                    </div>
                                </a>

                                <div class="max-w-xl">
                                    <div class="mt-8 flex items-center gap-x-4 text-xs">
                                        <time
                                            datetime="2020-03-16"
                                            class="text-gray-500"
                                        >
                                            {
                                                <IndexFormattedDate
                                                    date={post.data.pubDate}
                                                />
                                            }
                                        </time>
                                        <a
                                            href={
                                                "/blog/category/" +
                                                post.data.category.toLowerCase()
                                            }
                                            class="inline-flex items-center rounded-md bg-lime-50 px-2 py-1 text-xs font-medium text-lime-600 ring-1 ring-inset ring-lime-500/10"
                                        >
                                            {post.data.category}
                                        </a>
                                    </div>
                                    <div class="group relative">
                                        <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600 transition duration-200 ease-in-out">
                                            <a href={`/blog/${post.slug}`}>
                                                <span class="absolute inset-0" />
                                                {post.data.title}
                                            </a>
                                        </h3>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                                            {post.data.description}
                                        </p>
                                    </div>
                                </div>
                            </article>
                        ))
                    }
                </div>
            </div>
        </div>

        <section class="max-w-6xl mx-auto py-4 px-4 md:px-8">
            <div class="max-w-xl">
                <div class="py-4">
                    <h3
                        class="text-3xl text-gray-800 font-semibold md:text-4xl"
                    >
                        Construis des applications propres grâce aux <span
                            class="text-lime-600">design patterns</span
                        >
                    </h3>
                    <p class="text-gray-500 leading-relaxed mt-3">
                        Rends tes applications plus élégantes et faciles à
                        maintenir. Plonge dans notre playlist dédiée aux design
                        patterns avec Laravel.
                    </p>
                </div>

                <a
                    href="https://www.youtube.com/watch?v=KPmY__8SRUk&list=PLeeuvNW2FHVh3wMs20a0L_GydwCsR8BPV"
                    class="group px-4 py-2 text-lime-600 font-medium bg-lime-50 rounded-full inline-flex items-center"
                    target="_blank"
                >
                    Débuter l'aventure
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6 ml-1 duration-150 group-hover:translate-x-1"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            strokeLinecap="round"
                            strokeLinejoin="round"
                            stroke-width="2"
                            d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
                    </svg>
                </a>
            </div>
        </section>

        <Footer />

        <button id="back-to-top" class="back-to-top">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5 text-white"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m4.5 15.75 7.5-7.5 7.5 7.5"></path>
            </svg>
        </button>
    </body>
</html>
