---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import IndexFormattedDate from "../components/IndexFormattedDate.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const posts = await getCollection("blog");

const latestPosts = posts
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 9);
---

<!doctype html>
<html lang="fr">
    <head>
        <BaseHead
            title={SITE_TITLE + " | Accueil"}
            description={SITE_DESCRIPTION}
        />

        <style>
            .back-to-top {
                @apply fixed z-50 opacity-0 flex items-center justify-center bottom-8 right-8 border-0 text-lg size-10 rounded-full shadow-lg bg-lime-400 hover:bg-lime-500 transition duration-300;
                pointer-events: none;
            }
            .back-to-top.show {
                @apply opacity-100;
                pointer-events: auto;
            }
        </style>

        <script>
            import "../scripts/back-to-top.ts";
        </script>
    </head>

    <body>
        <Header />

        <section class="sm:pt-20 pb-14 sm:pb-32 bg-white">
            <div class="px-12 mx-auto max-w-6xl">
                <div
                    class="w-full mx-auto text-left md:w-11/12 xl:w-9/12 md:text-center"
                >
                    <h1
                        class="mb-8 text-4xl font-extrabold leading-none tracking-normal text-gray-900 md:text-6xl md:tracking-tight"
                    >
                        <span>Votre dojo pour maîtriser</span>
                        <span
                            class="block w-full py-2 text-transparent bg-clip-text leading-12 bg-gradient-to-r from-red-300 to-pink-500 lg:inline"
                            >Laravel</span
                        > et <span
                            class="block w-full py-2 text-transparent bg-clip-text leading-12 bg-gradient-to-r from-emerald-300 to-green-500 lg:inline"
                            >Vue</span
                        >
                    </h1>
                    <p
                        class="px-0 mb-8 text-lg text-gray-600 md:text-xl lg:px-24"
                    >
                        Des compétences professionnelles, claires et
                        accessibles, pour façonner la·e développeur·euse en vous.
                    </p>
                    <div
                        class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
                    >
                        <a
                            href="https://discord.gg/cuFxTjH"
                            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lime-500 bg-lime-400 hover:bg-lime-500 text-white duration-200 transition ease-in-out"
                        >
                            Rejoindre la communauté
                            <svg
                                class="ml-2 -mr-1 w-5 h-5"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path></svg
                            >
                        </a>
                        <a
                            href="https://www.youtube.com/@LaravelJutsu"
                            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 bg-gray-100 hover:bg-gray-200/80 duration-200 transition ease-in-out"
                        >
                            <svg
                                class="mr-2 -ml-1 w-5 h-5"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"
                                ></path></svg
                            >
                            Regarder des tutoriels
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <div class="bg-white pt-14 pb-14 sm:pb-32">
            <div class="mx-auto max-w-6xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <h1 class="text-5xl font-bold sm:text-6xl">
                        Blog Laravel Jutsu
                    </h1>
                    <p class="mt-4 text-gray-600">
                        Les derniers articles sur Laravel et Vue
                    </p>
                </div>
                <div
                    class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 pt-6 sm:mt-8 sm:pt-8 lg:mx-0 lg:max-w-none lg:grid-cols-3"
                >
                    {
                        latestPosts.map((post) => (
                            <article class="flex max-w-xl flex-col items-start justify-between">
                                <a
                                    href={`/blog/${post.slug}`}
                                    class="group flex flex-col overflow-hidden transition-all rounded-lg shadow-lg focus:outline-none"
                                >
                                    <div class="relative flex-shrink-0 overflow-hidden">
                                        <Image
                                            src={post.data.heroImage}
                                            loading="eager"
                                            alt={post.data.title}
                                            class="w-full cursor-pointer  bg-gray-100 object-cover aspect-[5/2] group-hover:scale-110 group-focus:scale-110 group-hover:-rotate-2 group-focus:-rotate-2 transition duration-200 ease-in-out"
                                        />
                                    </div>
                                </a>

                                <div class="max-w-xl">
                                    <div class="mt-8 flex items-center gap-x-4 text-xs">
                                        <time
                                            datetime="2020-03-16"
                                            class="text-gray-500"
                                        >
                                            {
                                                <IndexFormattedDate
                                                    date={post.data.pubDate}
                                                />
                                            }
                                        </time>
                                        <a
                                            href={
                                                "/blog/category/" +
                                                post.data.category.toLowerCase()
                                            }
                                            class="inline-flex items-center rounded-md bg-lime-50 px-2 py-1 text-xs font-medium text-lime-600 ring-1 ring-inset ring-lime-500/10"
                                        >
                                            {post.data.category}
                                        </a>
                                    </div>
                                    <div class="group relative">
                                        <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600 transition duration-200 ease-in-out">
                                            <a href={`/blog/${post.slug}`}>
                                                <span class="absolute inset-0" />
                                                {post.data.title}
                                            </a>
                                        </h3>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                                            {post.data.description}
                                        </p>
                                    </div>
                                </div>
                            </article>
                        ))
                    }
                </div>
            </div>
        </div>

        <div class="bg-white">
            <div
                class="mx-auto max-w-2xl lg:max-w-6xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:justify-between lg:px-8"
            >
                <h2
                    class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
                >
                    Prêt à passer au niveau supérieur ?<br />Découvrez ma chaîne
                    YouTube.
                </h2>
                <div
                    class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:flex-shrink-0"
                >
                    <a
                        href="https://youtube.com/@laravelJutsu"
                        class="rounded-md px-3.5 py-2.5 text-sm font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lime-500 bg-lime-400/20 hover:bg-lime-400/30 text-lime-700 duration-200 transition ease-in-out"
                        target="_blank"
                    >
                        Voir la chaîne
                    </a>
                    <a
                        href="/blog"
                        class="text-sm font-semibold leading-6 text-gray-900"
                    >
                        Lire tous les articles <span aria-hidden="true">→</span>
                    </a>
                </div>
            </div>
        </div>

        <Footer />

        <button id="back-to-top" class="back-to-top">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5 text-white"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m4.5 15.75 7.5-7.5 7.5 7.5"></path>
            </svg>
        </button>
    </body>
</html>
