---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";

const tools = [
    {
        itemTitle: "Mon éditeur",
        itemName: "Visual Studio Code",
        itemDescription:
            "Je suis récemment revenu sur VSCode après deux années intenses passées sur PHPStorm. L'annonce de Laravel concernant leur prochain plugin officiel a beaucoup contribué à cette décision. Aujourd'hui, je préfère VSCode pour sa rapidité. Bien que PHPStorm offre de nombreuses fonctionnalités, j'aspire à un environnement plus minimaliste. Je privilégie désormais la réflexion à l'autocomplétion.",
        itemType: "Full-time",
        itemLocation: "Remotely",
        itemPath: "#",
    },
    {
        itemTitle: "Système d'exploitation",
        itemName: "Linux Mint",
        itemDescription:
            "Linux Mint est un système d'exploitation basé sur Ubuntu, connu pour sa simplicité et sa convivialité. Il offre un environnement de bureau agréable et est idéal pour les développeurs.",
        itemType: "Part-time",
        itemLocation: "Remotely",
        itemPath: "javascript:void(0)",
    },
    {
        itemTitle: "Outils supplémentaires",
        itemName: "Ray et Helo",
        itemDescription:
            "J'utilise également Ray et Helo pour améliorer mon flux de travail. Ray m'aide à déboguer mes applications efficacement, tandis que Helo facilite la gestion des notifications.",
        itemType: "Full-time",
        itemLocation: "Remotely",
        itemPath: "javascript:void(0)",
    },
];

---

<!doctype html>
<html lang="fr">
    <head>
        <BaseHead
            title={SITE_TITLE + " | Mes outils"}
            description={SITE_DESCRIPTION}
        />

        <script>
            import "../scripts/back-to-top.ts";
        </script>
    </head>

    <body>
        <Header />

        <section class="bg-white mb-6 mt-12 lg:my-10">
            <div
                class="mx-auto max-w-6xl px-6 lg:px-8 mb-12 flex justify-between items-start"
            >
                <div>
                    <div class="max-w-md">
                        <h1
                            class="text-gray-800 text-2xl font-extrabold sm:text-3xl"
                        >
                            Mon setup
                        </h1>
                        <p class="text-gray-600 mt-2">
                            Mon environnement, éditeur de code et logiciels que
                            j'utilise tous les jours.
                        </p>
                    </div>
                    <ul class="mt-12 divide-y space-y-3">
                        {
                            tools.map((tool) => (
                                <li class="px-4 py-5 duration-150 hover:border-white hover:rounded-xl hover:bg-zinc-50">
                                    <a
                                        href={`/${tool.itemPath}`}
                                        class="space-y-3"
                                    >
                                        <div class="flex items-center gap-x-3">
                                            <div>
                                                <span class="block text-sm text-indigo-600 font-medium">
                                                    {tool.itemTitle}
                                                </span>
                                                <h3 class="text-base text-gray-800 font-semibold mt-1">
                                                    {tool.itemName}
                                                </h3>
                                            </div>
                                        </div>
                                        <p class="text-gray-600 sm:text-sm">
                                            {tool.itemDescription}
                                        </p>
                                        {/* <div class="text-sm text-gray-600 flex items-center gap-6">
                                            <span class="flex items-center gap-2">
                                                <svg
                                                    class="w-5 h-5 text-gray-500"
                                                    viewBox="0 0 20 20"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                >
                                                    <path
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M6 6V5C6 3.34315 7.34315 2 9 2H11C12.6569 2 14 3.34315 14 5V6H16C17.1046 6 18 6.89543 18 8V11.5708C15.5096 12.4947 12.8149 12.9999 10 12.9999C7.18514 12.9999 4.49037 12.4947 2 11.5707V8C2 6.89543 2.89543 6 4 6H6ZM8 5C8 4.44772 8.44772 4 9 4H11C11.5523 4 12 4.44772 12 5V6H8V5ZM9 10C9 9.44772 9.44772 9 10 9H10.01C10.5623 9 11.01 9.44772 11.01 10C11.01 10.5523 10.5623 11 10.01 11H10C9.44772 11 9 10.5523 9 10Z"
                                                        fill="#9CA3AF"
                                                    />
                                                    <path
                                                        d="M2 13.6923V16C2 17.1046 2.89543 18 4 18H16C17.1046 18 18 17.1046 18 16V13.6923C15.4872 14.5404 12.7964 14.9999 10 14.9999C7.20363 14.9999 4.51279 14.5404 2 13.6923Z"
                                                        fill="#9CA3AF"
                                                    />
                                                </svg>
                                                <span> {tool.itemType}</span>
                                            </span>
                                            <span class="flex items-center gap-2">
                                                <svg
                                                    class="w-5 h-5 text-gray-500"
                                                    viewBox="0 0 20 20"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                >
                                                    <path
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M5.05025 4.05025C7.78392 1.31658 12.2161 1.31658 14.9497 4.05025C17.6834 6.78392 17.6834 11.2161 14.9497 13.9497L10 18.8995L5.05025 13.9497C2.31658 11.2161 2.31658 6.78392 5.05025 4.05025ZM10 11C11.1046 11 12 10.1046 12 9C12 7.89543 11.1046 7 10 7C8.89543 7 8 7.89543 8 9C8 10.1046 8.89543 11 10 11Z"
                                                        fill="#9CA3AF"
                                                    />
                                                </svg>
                                                <span>{tool.itemLocation}</span>
                                            </span>
                                        </div> */}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>

                </div>
            </div>
        </section>

        <Footer />

        <button id="back-to-top" class="back-to-top">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5 text-white"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m4.5 15.75 7.5-7.5 7.5 7.5"></path>
            </svg>
        </button>
    </body>
</html>
